/* ==========================================================================
   Default Styling
   ========================================================================== */


/* no margins/padding on body */

body {
  margin: 0;
  padding: 0;
}


/* separator */

hr {
  width: 80%;
  border-top: 1px solid #cccccc;
  box-shadow: 0 1px 15px rgba(0, 0, 0, .2);
}

#app {
  background-color: #eeeeee;
}


/* ==========================================================================
   Page Structuring
   ========================================================================== */


/* appication container spanning full width of viewport */

.container-fluid {
  width: 100%;
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
}


/* appication sub container - navigation */

.container-nav {
  width: 20%;
  height: 100vh;
  float: left;
  background-color: #eeeeee;
  min-width: 150px;
  border-right: 1px solid #fff;
  box-shadow: 5px 0 5px -5px #aaa;
}


/* appication sub container - content */

.container-cont {
  height: 100%;
  float: right;
  background-color: #d5dfe8;
}


/* ==========================================================================
   Container Common
   ========================================================================== */


/* sub container common */

.container-common {
  padding-top: 15px
}

.buttons-navigation {
  margin-left: auto;
  margin-right: auto;
}

.screen-warning {
  text-align: center;
  padding-top: 30px;
}


/* ==========================================================================
   Navigation Area Specific
   ========================================================================== */


/* button width on navigation area */

.container-nav .btn-block {
  width: 80%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}


/* navigational plane logo */

.nav-logo-img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}


/* ==========================================================================
  Content Area Specific
  ========================================================================== */


/* responsive styling */

@media screen and (min-width: 725px) {
  .container-cont {
    width: 80%;
  }
  .screen-warning {
    display: none;
  }
}

@media screen and (max-width: 725px) {
  .container-cont {
    display: none;
  }
  .screen-warning {
    position: relative;
    display: block;
  }
}


/* loading gif */

.loading-img {
  display: block;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 190px;
  margin-bottom: 190px;
}


/* main area */

.container-cont .container-area {
  position: relative;
  text-align: left;
  max-width: 1366px;
  width: 95%;
  min-height: calc(100% - 35px);
  background: #fff;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #fff;
  box-shadow: 0 0 5px #ccc;
  border-radius: 5px;
}


/* pagination */

.container-area .pagination {
  display: table;
  padding-left: 0;
  margin: 20px auto;
  border-radius: 4px;
}

.pagination-area {
  padding-top: 5px;
}


/* ==========================================================================
  List Area Specific
  ========================================================================== */

.ui.list>.item {
  padding: 0.6em 0
}

.ui.list:first-child {
  margin-left: 8px;
  margin-top: 8px;
}

.content-list-description {
  padding-top: 8px;
}

.ui.button {
  margin-top: 8px;
}


/* ==========================================================================
  Profile Area Specific
  ========================================================================== */

.profile-content-para {
  text-align: center;
}

.profile-img-ava img {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
